.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
[dis]{
  float: right !important;
  margin-top: 0px !important;
  border: 1px solid #c8c9cc;
  border-radius: 25% !important;
  margin-right: -34px !important;
  padding: 5px !important;
}
[arrow]{
  padding-bottom: 15px !important;
}
[nagar]{
  margin-top: 10px
}
[search]{
  float: right;
  margin-top: 0px;
  border: 1px solid #c8c9cc;
  border-radius: 30%;
  margin-left: 50px;
  padding: 5px;
}